body{
    background-color: black; 

}

.main-content{
    background-color: black;
}

p{
    color:#b6babf
}

.main-content{
    display:flex;
    max-width: 1320px;
    margin:auto;
    gap:1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:10rem;
    margin-bottom:10rem;
  }

.left,
.right{
    background:#171717;
   width:500px;
  padding: 1.5rem 2rem; 
   border-radius: 10px;
}
h1{
    text-align: center;
    color:white;
    position:relative;
    margin-top:.5rem;
}
h1:before{
    content:"";
    position:absolute;
    width:3rem;
    height:1px;
    background-color: white;
    bottom:-5px;
    left:50%;
    transform: translateX(-50%)
}
h2{
    color:#b6babf;
    font-size: 25px;
    font-weight:500px;
    line-height: 30px;
    padding-top:1rem;
}
h3{
    color:#A8A8A8;
    font-size: 16px;
    font-weight:500px;
    line-height: 21px;
}
h4{
    color:#A8A8A8;
    font-size: 16px;
    font-weight:500px;
    line-height: 9px;
}
h5{
    color:#A8A8A8;
    font-size: 16px;
    font-weight:500px;  
}
p{
    color:#A8A8A8;
    font-size: 14px;
    font-weight:400px;
    line-height: 21px;
    margin-top:1rem;
}
.image-er{
    margin-top:.5rem;
    text-align: center;
}

/*cv*/
.cv{
    display:flex; 
    justify-content: center;
    margin-top: 5rem;
}

.cv button{
    border:1px solid white;
     background-color: transparent;
     padding:1rem 13rem;
     color:white;
}
.cv button a{
    font-size: 18px; 
}

/*education*/
.left, .right ul li {
    color:white;
    list-style: disc!important;
    font-size: 18px;
}
.left li{
    list-style: disc !important;
}
span{
    color:white!important;
    font-weight: 400!important;
}

/*top-footer*/
.top-footer{
    display:flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
    margin-bottom:2rem;
}

.top-footer h2{
 font-size: 21px;
 color:white
}

.top-footer .left h4{
line-height: 21px;
}
.top-footer .right h4{
    line-height:20px;
    font-size: 18px;;
}
.top-footer .right a{
    font-size: 16px;
}
 a:hover:not(.top-footer):before{
    content:"";
    width:0px;
 }
@media only screen and (max-width: 792px) {
    .left,
    .right {
      width: 100%;
      margin-bottom:2rem;
      padding:2.5rem 2rem;
      margin:0 1rem;
     
    }
    h2,h3,h4,p{
        line-height: 25px;
    }
    .main-content{
        margin-top:4rem;
        margin-bottom:3rem;
    }
    .image{
        margin-top:1rem;
    }
    .cv{
        padding:1rem;
    }
    .top-footer .right h4{
        font-size: 16px;
        
    }
    .top-footer .right{
        padding-top:1rem;
    }
  }